{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<header class="masthead" style="background-image:url('BootstrapStudio/img/intro-bg.jpg');">
    <div class="intro-body" style="background-image: url('BootstrapStudio/img/14358.jpg');filter: blur(0px);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
{#                    <h1 class="brand-heading">heroes quiz</h1>#}
                    <div class="resultsTable"><p class="intro-text resultsTableText"><strong>VOS RESULTATS</strong></p></div>
                <button class="btn btn-primary goToQuizz" type="button">LANCER UN NOUVEAU QUIZZ</button>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% endblock %}
