{% extends 'base.html.twig' %}

{% block body %}

<head>
</br>
</br>
</br>
</br>
</br>
    <meta charset="UTF-8">
    <title>Quiz</title>
    </head>
<div id="container">
{#    <form id='form'><button type='submit'>Sauvegarder</button></form>#}
    <div id="resultat"></div>
    <div id="start">Start Quiz!</div>
    <div id="quiz" style="display: none">
        <div>
            <h1 style="text-align: center">{{ content.hero['name'] }}</h1>
            <div id="question"></div>
        </div>
        <div id="qImg"></div>
        <div id="choices">
            <div class="choice" id="A" onclick="checkAnswer('A')"><p></p></div>
            <div class="choice" id="B" onclick="checkAnswer('B')"></div>
            <div class="choice" id="C" onclick="checkAnswer('C')"></div>
            <div class="choice" id="D" onclick="checkAnswer('D')"></div>
        </div>
        <div id="timer">
            <div id="counter"></div>
            <div id="btimeGauge"></div>
            <div id="timeGauge"></div>
        </div>
        <div id="progress"></div>
    </div>
    <div id="scoreContainer" style="display: none"></div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        let juste = {{ content.reponse[0]|json_encode|raw }};
        let faux = {{ content.faux|json_encode|raw }};
        let image = {{ content.hero['image']|json_encode|raw }}
    </script>
    <script src="/BootstrapStudio/js/quiz.js"></script>
{% endblock %}

