<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>

</head>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="/BootstrapStudio/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
        <link rel="stylesheet" href="/BootstrapStudio/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/BootstrapStudio/bootstrap/css/styles.css">
        <link rel="stylesheet" href="/BootstrapStudio/bootstrap/css/quizz.css">
    </head>
    <body>
    {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    <script src="/BootstrapStudio/js/jquery.min.js"></script>
    <script src="/BootstrapStudio/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/BootstrapStudio/js/grayscale.js"></script>

    <div class="map-clean"></div>
        <footer>
            <div class="container text-center">
                <p>Powered By Les 5SH</p>
            </div>
        </footer>
    </body>
</html>
